<!DOCTYPE html>
<html>
<META HTTP-EQUIV="refresh" CONTENT="60">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.col-container {
    display: table;
    font-family: verdana;
    padding: 0px;
    width: 100%;
    text-align: center;
    height: 160px;
}
.col {
    display: table-cell;
    width: 160px;
}
h4 {
    font-size: 12px;
    padding: 0px;
}

p {
font-size: 25px;
padding-bottom: 5px;
margin: 0;
}
h2{
<!--margin: 0;-->
padding-top: 5px;
}
</style>
</head>
<body style="margin: 0;">
<div class="col-container">
  <div class="col" style="background:powderblue">
    <h2>{{route0}}</h2>
    <!--<h4>{{stop0}}</h4>-->
    <p>{{ times00 }}<br>{{ times01 }}<br>{{ times02 }}</p>
  </div>

  <div class="col" style="background:lightcoral">
    <h2>{{route1}}</h2>
    <!--<h4>{{stop1}}</h4>-->
    <p>{{ times10 }}<br>{{ times11 }}<br>{{ times12 }}</p>
  </div>

  <div class="col" style="background:powderblue">
    <h2>{{route2}}</h2>
    <!--<h4>{{stop2}}</h4>-->
    <p>{{ times20 }}<br>{{ times21 }}<br>{{ times22 }}</p>
  </div>
</div>
<div class="col-container">
  <div class="col" style="background:lightcoral">
    <h2>{{route3}}</h2>
    <!--<h4>{{stop3}}</h4>-->
    <p>{{ times30 }}<br>{{ times31 }}<br>{{ times32 }}</p>
  </div>

  <div class="col" style="background:lavender">
    <h2>{{route4}}</h2>
    <!--<h4>{{stop4}}</h4>-->
    <p>{{ times40 }}<br>{{ times41 }}<br>{{ times42 }}</p>
  </div>

  <div class="col" style="background:emerald">
    <h2>{{route5}}</h2>
    <!--<h4>{{stop5}}</h4>-->
    <p>{{ times50 }}<br>{{ times51 }}<br>{{ times52 }}</p>
  </div>
</div>
</body>
</html>

